ApiKey = ""

SavePath = "downloads"

DatabasePath = "civitai.db"

Sort = "Most Downloaded"
Period = "AllTime"
Limit = 100
Types = ["LORA"]
# "SD 1.4","SD 1.5","SD 1.5 LCM","SD 1.5 Hyper","SD 2.0","SD 2.0 768","SD 2.1","SD 2.1 768","SD 2.1 Unclip","SDXL 0.9","SDXL 1.0","SD 3","SD 3.5","SD 3.5 Medium","SD 3.5 Large","SD 3.5 Large Turbo","Pony","Flux.1 S","Flux.1 D","AuraFlow","SDXL 1.0 LCM","SDXL Distilled","SDXL Turbo","SDXL Lightning","SDXL Hyper","Stable Cascade","SVD","SVD XT","Playground v2","PixArt a","PixArt E","Hunyuan 1","Hunyuan Video","Lumina","Kolors","Illustrious","Mochi","LTXV","CogVideoX","NoobAI","Wan Video","HiDream","Other"
BaseModels = ["Wan Video"]
GetNsfw = true

GetOnlyPrimaryModel = true
GetPruned = true
GetFp16 = true
IgnoreBaseModels = ["1.5", "0.9", "2.0", "2.1", "1.4", "other"]
IgnoreFileNameStrings = ["alpha", "beta", "inpainting", "preview"]

LogApiRequests = true
SaveMetadata = true
ApiDelayMs = 200
ApiClientTimeoutSec = 60
DefaultConcurrency = 4